        <footer>

            <p class="copyright text-muted">The content of this website is published under CC BY-SA license. Powered by <a href="https://gohugo.io">Hugo</a> and <a href="https://github.com/calintat/minimal">Minimal</a>.</p>

        </footer>

    </body>

</html>
